<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Desafio black and white</title>
</head>
<body>
    <h1 class="title">Black and white Spa</h1>
    <div>
    <form class="formcontainer" action="/editar" method="post">
        <div class="formulario">
            <label for="fname">Imagen URL</label><br>
            <input type="text" id="fname" name="URL">
        </div>
        <button type="submit" class="button">Subir imagen al servidor</button>
    </form>
</div>
</body>
</html>